<h1>Editar Empresa</h1>

<% if @errors.present? %>
  <div>
    <h3>Erros:</h3>
    <ul>
      <% @errors.each do |error| %>
        <li><%= error %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<%= form_with model: @company, url: company_path(@company), method: :patch do |f| %>
  <div>
    <%= f.label :name, 'Nome' %>
    <%= f.text_field :name %>
  </div>

  <div>
    <%= f.label :cnpj, 'CNPJ' %>
    <%= f.text_field :cnpj %>
  </div>

  <div>
    <%= f.label :address, 'Endereço' %>
    <%= f.text_field :address %>
  </div>

  <div>
    <%= f.label :active, 'Ativo' %>
    <%= f.check_box :active %>
  </div>

  <div>
    <%= f.submit 'Atualizar Empresa' %>
    <%= link_to 'Cancelar', companies_path %>
  </div>
<% end %>
