<!DOCTYPE html>
<html>
  <head>
    <title>Invitationsapp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <% if admin_signed_in? %>
      <header>
        <p>
          logado como: <%= current_admin.email %>
          <%= button_to "Logout", destroy_admin_session_path, method: :delete %>
        </p>
      </header>
    <% end %>
    
    <%= yield %>
  </body>
</html>
